<div class="container">
  <div class="png">
    <img src="./img/VSE_003_noBg.png" alt="vse.png" />
  </div>
  <div class="inline-container">
    <div class="line"></div>
    <div>VSE</div>
    <div class="line"></div>
  </div>
  <div class="table">
    <table>
      <tr>
       <td class="clo1">
         IsAnrese:
       </td>
       <td>
         Check
       </td>
      </tr>
      <tr>
        <td class="clo1">
          IP:
        </td>
        <td>
          192.168.1.88
        </td>
      </tr>
    </table>
  </div>
  <div>
    <div class="headingSensor">Sensoren</div>
    <div class="table">
    <table>
      <tr class="clo1">
        <td><i class="fa-solid fa-pen-fancy"></i></td>
        <td>E-Spindel</td>
      </tr>

    </table>
  </div>
  </div>
</div>
